#ongoing analysis folder
lab/

# Mac DS files
.DS_Store

# Setuptools distribution folder
/dist/

# any previously built version of anything
/build/

# Python egg metadata
/*.egg-info
/*.egg
/*.eggs

# pycache stuff
nfoils/__pycache__/