# Mac DS files
.DS_Store

# Setuptools distribution folder
dist/

# Python egg metadata
/*.egg-info
/*.egg
/*.eggs

# pycache stuff
nfoils/__pycache__/

# vs code
.vscode/

#Linter
.flake8

#venvs
.venv/
venv/