# Mac DS files
.DS_Store

# Setuptools distribution folder
dist/

# c++ source build
build/

# c++ code
src/

# Python egg metadata
/*.egg-info
/*.egg
/*.eggs

# pycache stuff
nfoils/__pycache__/

# vs code
.vscode/

#Linter
.flake8